{% extends 'app/base.html' %}

{% block content %}
    <div>
        <h1>Sobre</h1>
    </div>
    <p>
        Este site tem por finalidade ser o trabalho avaliativo para a disciplina Tópicos Especiais em Informática.
    </p>
    <br>
    <p>
        Projeto desenvolvido com a framework <b>Django</b> através da linguagem de programação pyhton.
    </p>
    <h3>Desenvolvedores</h3>
    <ul class="list-group">
        <li class="list-group-item">Lucas Mangelo Fernandes</li>
        <li class="list-group-item">Cristiano Carneiro Bernuzzi</li>
    </ul>
{% endblock %}