{% extends 'app/base.html' %}

{% block content %}
    <div class="header-title">
        <h1>
            Colaborador
            <a href="{% url 'collaborator_new' %}"><i class="fas fa-plus"></i></a>
        </h1>

        <span class="export">
            <a href="{% url 'collaborator_export' %}"><i class="fas fa-download"></i></a>
        </span>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Função</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for collaborator in collaborators %}
                    <tr>
                        <td>{{ collaborator.name }}</td>
                        <td>{{ collaborator.birth_date }}</td>
                        <td>{{ collaborator.function }}</td>
                        <td>
                            <a href="{% url 'collaborator_edit' pk=collaborator.pk  %}" title="Editar"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'collaborator_delete' pk=collaborator.pk  %}" title="Deletar"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}