{% extends 'app/base.html' %}

{% block content %}
    <div>
        <h1>Colaborador</h1>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Função</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for collaborator in collaborators %}
                    <tr>
                        <td>{{ collaborator.name }}</td>
                        <td>{{ collaborator.birth_date }}</td>
                        <td>{{ collaborator.function }}</td>
                        <td>Ação</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}