{% extends 'app/base.html' %}

{% block content %}
    <div>
        <h1>Moradores</h1>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Data Início</th>
                    <th scope="col">Data Fim</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for resident in residents %}
                    <tr>
                        <td>{{ resident.name }}</td>
                        <td>{{ resident.birth_date }}</td>
                        <td>{{ resident.initial_day }}</td>
                        <td>{{ resident.ending_day }}</td>
                        <td>{{ resident.apartamento }}</td>
                        <td>Ação</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>          
{% endblock %}