{% extends 'core/base.html' %}

{% block content %}
  <div class="row justify-content-center  align-items-center">
    <div class="col-6">

      <h2>Cadastro de Usuários</h2>
      <br>
      <div class="card">
        <div class="card-body">
            <form method="POST" class="post-form">{% csrf_token %}
            
              <div class="form-group">
                  <label>Usuário</label>
                  {{ form.username }} 
              </div>
              <div class="form-group">
                  <label>Senha</label>
                  {{ form.password }}
              </div>
              <div class="form-group">
                <label>Email</label>
                {{ form.email }}
            </div>
              
            <br>
            <button type="submit" class="save btn btn-outline-success">Concluir</button>
          </form>
        </div>
      </div>

    </div>
  </div>

    <br>
      
    {% if message is not None %}

        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>

    {% endif %}

{% endblock %}